@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Courier+Prime:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

html{
    scroll-behavior: smooth;
  }
  body{
    height: 400vh;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
  }
  section[id]{
      scroll-margin-top: 80px;
      padding: 30px;
  }

  .courier-prime {
    font-family: 'Courier Prime', monospace;
}

footer {
     height: 50vh;
     padding: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     font-size: 1.5rem;
     line-height: 2rem;   
}    
footer div{
    margin-bottom: 1rem;
}
footer .courier-prime a {
    margin: 0 1rem; 
    text-decoration: none; 
    color: inherit;
}
footer .courier-prime a span {
    display: inline-block; /* span within a tags are inline-block */
}

footer a {
    margin: 0 0.5rem; /* horizontal margin between icons */
    font-size: 2rem; /* icon size*/
    color: darkgrey;
}

footer a:hover {
    color: blue;
    text-decoration: underline; /* Underline links on hover */
}



